site_name: Secure Media Path Documentation
theme:
  name: material
  features:
    - content.code.annotate
    - content.code.copy
    - navigation.indexes
    - navigation.sections
    - navigation.top
    - navigation.tracking
    - toc.follow
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-5
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  custom_dir: docs/.overrides
repo_url: https://github.com/jnyl00/django-secure-media
repo_name: django-secure-media
site_author: jnyl00
site_url: https://jnyl00.github.io/django-secure-media
site_description: A simple secure Media access system for Django.
markdown_extensions:
  - admonition
  - def_list
  - pymdownx.details
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - tables
  - toc:
      permalink: true
plugins:
  - search
  - tags
extra_css:
  - stylesheets/extra.css
extra:
  generator: true
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/jnyl00
      name: GitHub
    - icon: fontawesome/brands/linkedin
      link: https://linkedin.com/in/ioannis-gialanskyi-261426302
      name: LinkedIn
